@use "../../variables/variables";

.card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 100px;

  &__image {
    max-width: 100%;
    height: 288px;
    width: 320px;
    object-fit: cover;
    border-radius: 16px;
  }

  &__caption-container {
    display: flex;
    flex-direction: column;
    gap: 17px;
    position: absolute;
    width: 248px;
    align-items: flex-start;
    padding: 0 0 20px 40px;
  }

  &__caption {
    font-size: 24px;
    color: variables.$primary-light-color;

    &__location {
      font-size: 18px;
      color: variables.$primary-light-color;
    }
  }
}

.card--hidden {
  display: none;
}

.card__caption__location > span {
  margin: 0 15px;
}

@media (min-width: 600px) {
  .card__image {
    height: 661px;
    width: 497px;
    min-width: 500px;
  }
  .cards-container {
    display: flex;
    overflow-x: scroll;
    margin: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card--hidden {
    display: flex;
  }
}
