@use "../variables/variables";

html {
  font-family: variables.$main-font;
  color: variables.$secondary-font-color;
}

body {
  font-size: variables.$main-font-size;
}

button {
  cursor: pointer;
}
