@use "../variables/variables";

html {
  font-family: variables.$main-font;
  color: variables.$secondary-light-color;
}

button {
  cursor: pointer;
}

.container {
  margin: 16px;
}

@media (min-width: 600px) {
  .container {
    margin: 32px;
  }
}
