::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  font-style: inherit;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
