$main-font: "Playfair Display", serif;
$secondary-font: "Rubik", sans-serif;
$primary-color: #ff7757;
$primary-light-color: #ffffff;
$secondary-color: #331811;
$secondary-light-color: #61291c;
$main-font-size: 7.5rem;
$secondary-font-size: 3.375rem;
$parragraph-color: #767e86;
