@use "./../../variables/variables";

.button {
  font-family: variables.$secondary-font;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 12px;

  &--dark {
    background-color: variables.$primary-color;
    color: #fff;
  }

  &--light {
    background: variables.$primary-light-color;
    color: variables.$primary-color;
  }

  &--large {
    font-size: 20px;
    padding: 16px 40px;
    width: 248px;
    height: 73px;
  }

  &--medium {
    font-size: 18px;
    padding: 20px;
    width: 146px;
    height: 21px;
  }

  &--small {
    font-size: 20px;
    padding: 16px 24px;
    width: 127px;
    height: 56px;
    text-transform: uppercase;
  }
}
