@use "../../../sass/variables/variables";

.chevron-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron {
  padding: 12px 23px;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  display: none;

  &--left {
    background: #172432;
    margin-right: 10px;
  }

  &--right {
    background: variables.$main-color;
    margin-left: 10px;
  }
}

@media (min-width: 600px) {
  .chevron {
    display: block;
  }
}
